<html>
  <head>
    <title>登録完了</title>
    <!-- 文字コード指定 -->
    <meta http-equiv="content-type" charset="utf-8">
    <!-- Googleで推奨されてる基本的なviewportの設定方法 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../css/afterPost.css">
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <span>
      <h1>正常に時間割が登録されました！</h1>
      <hr />
      <div class="button1">
        <a href="../index.html">確認画面</a>
        <a href="../views/post.html">登録画面</a>
    </div>
    </span>
  </body>
</html>
<script src="../canvas.js"></script>